All Events
<br>
{{test}}


<h5>
<div ng-repeat="event in events">
	{{ event.name }},<br>
	{{ event.description }}<br>
	{{ event.category }}<br>
	{{ event.specialReqs }}<br>
	{{ event.locationDescription }}<br>
	{{ event.address1 }}<br>
	{{ event.address2 }}<br>
	{{ event.city }}<br>
	{{ event.state }}<br>
	{{ event.zip }}<br>
	{{ event.createdBy }}<br>
	{{ event.volunteersNeeded }}<br>
	{{ event.volunteers }}<br><br>
	
	Link to this event page needed here.
	<!--<button ng-click="updateEvent(event._id)">Edit this event</button>
	<button ng-click="deleteEvent(event._id)">Delete this event</button>-->
</div>
</h5>
