<h2>Create Event</h2>
<br>

{{test}}
<br>
<input type="text" ng-model="event.name" placeholder="Enter event name">
<br>
<textarea ng-model="event.description" min-length="1" placeholder="Enter event description"></textarea>
<br>
<input type="text" ng-model="event.category" placeholder="Enter event category">
<br>
<textarea ng-model="event.specialReqs" placeholder="Enter special requirements"></textarea>
<br>
<textarea ng-model="event.locationDescription" placeholder="Location description"></textarea>
<br>
<input type="text" ng-model="event.address1" placeholder="Address">
<br>
<input type="text" ng-model="event.address2" placeholder="Address (cont.)">
<br>
<input type="text" ng-model="event.city" placeholder="City">
<br>
<input type="text" ng-model="event.state" placeholder="State">
<br>
<input type="number" ng-model="event.zip" placeholder="Zip">
<br>
<input type="number" ng-model="event.volunteersNeeded" placeholder="# of volunteers needed">
<br>

<a ng-click="createEvent()">Create this event</a>


<!--var Event = Schema({
	Name: { type: String, required: true },
	Description: { type: String },
	Category: { type: String, required: true },
	SpecialReqs: {type: String },
	LocationDescription: { type: String },
	Address1: { type: String },
	Address2: { type: String },
	City: { type: String },
	State: { type: String },
	Zip: { type: String },
	createdBy: {type: Schema.Types.ObjectId, ref: 'event' },
	// StartDate: { type: Date, required: true },
	// StartTime: { type: Date, required: true },
	// EndDate: { type: Date, required: true },
	// EndTime: { type: Date, required: true },
	VolunteersNeeded: { type: Number },
	// Volunteers: [{ type: Schema.Types.ObjectId, ref: 'event' }],

	Volunteers: [
							{ eventId: {type: Schema.Types.ObjectId, ref: 'event' }, 
							  Status: {type: String, enum: ["New", "Confirmed", "Contacted", "Rejected" ] }
							}
						  ]
	-->