<div class="jumbotron text-center">
    <h1>Create Event Page</h1>
    <p>Registered users can<span class="text-danger"> create</span> events for others to volunteer for.</p>
</div>

<br>

<input type="text" ng-model="event.name" placeholder="Enter event name">
<br>
<textarea ng-model="event.description" min-length="1" placeholder="Enter event description"></textarea>
<br>
<input type="text" ng-model="event.category" placeholder="Enter event category">
<br>
<textarea ng-model="event.specialReqs" placeholder="Enter special requirements"></textarea>
<br>
<textarea ng-model="event.locationDescription" placeholder="Location description"></textarea>
<br>
<input type="text" ng-model="event.address1" placeholder="Address">
<br>
<input type="text" ng-model="event.address2" placeholder="Address (cont.)">
<br>
<input type="text" ng-model="event.city" placeholder="City">
<br>
<input type="text" ng-model="event.state" placeholder="State">
<br>
<input type="number" ng-model="event.zip" placeholder="Zip">
<br>
<input type="number" ng-model="event.volunteersNeeded" placeholder="# of volunteers needed">
<br>
<br>

<button type="button" class="btn btn-primary" ng-click="createEvent()">Create this Event</button>
<!--<a ng-click="createEvent()">Create this event</a>-->
