<h2>Event Detail</h2>
<br>
<div>
	<h4>Event Name: {{ event.name }}</h4>
	Description: {{ event.description }}<br>
	Category: {{ event.category }}<br>
	Special Requirements: {{ event.specialReqs }}<br>
	Location: {{ event.locationDescription }}<br>
	Address: {{ event.address1 }}<br>
	Address: (cont): {{ event.address2 }}<br>
	City: {{ event.city }}<br>
	State: {{ event.state }}<br>
	Zip: {{ event.zip }}<br>
	<!--{{ event.createdBy }}<br>-->
	# of Volunteers Needed: {{ event.volunteersNeeded }}<br>
	
	<!--use below for testing only (show me the volunteers on this page without having to go to RoboMongo)-->
	<!--<div ng-repeat="volunteer in event.volunteers">
		{{ volunteer.userId }}<br>
		{{ volunteer.status }}<br><br>
	</div>-->

<br>
this is for showing hiding button based on whether user id is equal to...
<div ng-hide="userID">
	I'm not visible
	<br>       
	
	<button type="button" class="btn btn-primary" ng-click="udpateEventVolunteers()">Volunteer for this event!</button>
</div>
	<!--<a ui-sref=".thisEvent">Event Detail</a>-->
	<!--<button ng-click="updateEvent(event._id)">Edit this event</button>
	<button ng-click="deleteEvent(event._id)">Delete this event</button>-->
</div>
