<div>
	
	<input type="text" ng-model="user.name" placeholder = "Name of User">
	<br>
	<input type="text" ng-model="user.role" placeholder = "role of User :) ">
	<br>
	<button ng-click="addNewUser(user)">Add a nasty User</button>
	
	<!--<input type="text" ng-model="user.reviews.reviewer" placeholder = "reviewer">	
	<br>
	<input type="number" ng-model="user.reviews.rating" placeholder = "rating">-->
	
</div>
<br>	

<form ng-submit>
	
	<input ng-model="user.name" type="text" placeholder="User Name">
	<input ng-model="user.role" type="text" placeholder="Role">
	<input ng-model="user.email" type="text" placeholder="Email">
	<input ng-model="user.number" type="text" placeholder="Phone Number">
	<button ng-click="addNewUser(user)">Add this User</button>
</form>
<br>


<div ng-repeat="user in users">
	Name: {{ user.name }} - Role: {{ user.role }}
	<!--<button ng-click="updateUser(user._id)">Edit</button>-->
	
	<button ng-click="deleteUser(user._id)">Delete</button>
	<!--<ul>
		<li ng-repeat="review in user.reviews">{{ review.reviewer }}
			<button ng-click="getReview(user._id, review._id)">Find review!</button>
		</li>
	</ul>-->
</div>
<br>